/*CABECERA*/
.cabecera
{
    z-index: 100;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecera_mid
{
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu
{
    display: flex;
}
.menu li
{
    margin: 5px;
}
.menu li a
{
    padding: 20px;
    color: #fff;
}
.button_slider
{
    display: none;
}
@media screen and (max-width:600px) 
{
    .menu
    {
        position: fixed;
        top: 10vh;
        left: 100%;
        background-color: rgba(0, 0, 0, .7);
        width: 100%;
        height: 90vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left 500ms ease-in-out;
        backdrop-filter: blur(15px);
    }
    .button_slider
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 6vh;
        height: 6vh;
        border: solid 1px #fff;
        border-radius: 6px;
    }
    .line
    {
        width: 80%;
        height: 5%;
        background-color: #fff;
    }
}
/*principal*/
.principal
{
    width: 100%;
}
/*fondo*/
.fondo
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    background-image: url("../recursos/contenido/3.PNG");
    background-size: cover;
    background-position: center;
}
.gray
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}
/*Inicio*/
.inicio
{
    width: 100%;
    background-image: url("../recursos/contenido/1.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.inicio_filtro
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
}
.inicio_mid
{
    width: 80%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inicio_sec
{
    width: 50%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.inicio_sec img
{
    width: 100%;
    filter: drop-shadow(10px 10px 30px #fff);
}
.inicio_sec form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(13px);
    padding: 10px;
    color: #fff;
}
.inicio_sec form h2, .inicio_sec form h4
{
    margin: 5px 0;
}
.inicio_sec form label
{
    margin: 10px 0;
}
.inicio_sec form input
{
    outline: none;
    border: 0;
    border-bottom: solid 1px #fff;
    background-color: transparent;
    padding: 5px;
    color: #fff;
}
.inicio_sec form textarea
{
    outline: none;
    border: 0;
    border: solid 1px #fff;
    background-color: transparent;
    padding: 5px;
    color: #fff;
}
.redes
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio_sec form a
{
    margin: 10px;
}
.inicio_sec form i
{
    font-size: 30px;
    
}
.fa-facebook
{
    color: #4267B2;
}
.fa-instagram
{
    color: #E1306C;
}
.fa-whatsapp
{
    color: #25D366;
}
.form_button
{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    background-color: #c9a221;
    color: #fff;
    border: solid 1px transparent;
    cursor: pointer;
}
@media screen and (max-width:600px) 
{
    .inicio_sec img
    {
        width: 80%;
    }
}
/*nosotros*/
.nosotros
{
    width: 100%;
    justify-content: space-around;
    padding-top: 10vh;
    display: flex;
    justify-content: center;
}
.nosotros_contenedor
{
    width: 80%;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.nosotros_parrafo
{
    width: 60%;
    min-width: 300px;
    text-align: center;
    margin: 10px 0;
}
.cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card
{
    width: 300px;
    height: 300px;
    background-color: #0e0e0e;
    margin: 10px;
    padding: 20px;
    color: #fefefe;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.card i
{
    font-size: 100px;
}
.card h4
{
    margin: 10px 0;
}
.nosotros_contenedor a
{
    padding: 10px;
    background-color: #c9a221;
    color: #fff;
    margin: 20px 0;
}
/*servicios*/
.servicios
{
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #89732d;
    color: #fff;
}
.servicios_section
{
    width: 60%;
    min-width: 320px;
    margin-bottom: 5vh;
}
.swiper-slide
{
    display: flex;
    justify-content: space-around;
}
.servicio
{
    width: 320px;
    height: 320px;
    background-color: #c9a221;
}
/*Contactos*/
.contactos
{
    width: 100%;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #fefefe;
}
.contactos_centrado
{
    width: 80%;
    min-width: 320px;
    display: flex;
    flex-wrap: wrap;
}
.contacto_sec
{
    width: 50%;
    min-width: 320px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contacto_sec iframe
{
    width: 80%;
    min-width: 320px;
    height: 80%;
    border-radius: 16px;
    box-shadow: 10px 10px 30px #000;
}
.contacto_sec .redes
{
    font-size: 30px;
}
.contacto_sec .redes i
{
    margin: 20px;
}
/*footer*/
/*footer*/
footer
{
    width: 100%;
    background-color: #c9a221;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--blanco);
    color: #fefefe;
}
.sec_footer
{
    margin: 20px 0;
    width: 280px;
    display: flex;
    flex-direction: column;
    color: #fefefe;
}
.sec_footer h2
{
    margin: 10px 0;
}
.sec_footer img
{
    width: 100px;
}
.sec_footer a
{
    color: var(--blanco);
    margin: 10px 5px;
}
/*wa*/
.wa
{
    position: fixed;
    z-index: 99;
    left: 10px;
    bottom: 10px;
    color: #25D366;
    font-size: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 50%;
    transition: opacity 200ms ease-in-out;
}
.wa:hover
{
    opacity: 100%;
}
@media screen and (max-width:500px) 
{
    .wa
    {
        opacity: 100%;
    }    
}
/**/

button {
    font-family: 'Caveat', cursive;
  }
  p {
    font-family: 'Parisienne', cursive;
  }
  label {
    font-family: 'Great Vibes', cursive;
  }
  h2 {
    font-family: 'Lobster', cursive;
  }
  h1 {
    font-family: 'Dancing Script', cursive;
  }
          