/*CABECERA*/
.cabecera
{
    z-index: 100;
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.cabecera_mid
{
    width: 80%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu
{
    display: flex;
}
.menu li
{
    margin: 5px;
}
.menu li a
{
    padding: 20px;
    color: #fff;
}
.button_slider
{
    display: none;
}
@media screen and (max-width:600px) 
{
    .menu
    {
        position: fixed;
        top: 10vh;
        left: 100%;
        background-color: rgba(0, 0, 0, .7);
        width: 100%;
        height: 90vh;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        transition: left 500ms ease-in-out;
    }
    .button_slider
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 6vh;
        height: 6vh;
        border: solid 1px #fff;
        border-radius: 6px;
    }
    .line
    {
        width: 80%;
        height: 5%;
        background-color: #fff;
    }
}
/*principal*/
.principal
{
    width: 100%;
}
/*Inicio*/
.inicio
{
    width: 100%;
    background-image: url("../recursos/contenido/1.PNG");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.inicio_filtro
{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    padding-top: 10vh;
    display: flex;
    justify-content: space-around;
}
.inicio_mid
{
    width: 80%;
    min-width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inicio_sec
{
    width: 50%;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.inicio_sec img
{
    width: 100%;
}
.inicio_sec form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    backdrop-filter: blur(13px);
    padding: 10px;
    color: #fff;
}
.inicio_sec form h2, .inicio_sec form h4
{
    margin: 5px 0;
}
.inicio_sec form label
{
    margin: 10px 0;
}
.inicio_sec form input
{
    outline: none;
    border: 0;
    border-bottom: solid 1px #fff;
    background-color: transparent;
    padding: 5px;
    color: #fff;
}
.inicio_sec form textarea
{
    outline: none;
    border: 0;
    border: solid 1px #fff;
    background-color: transparent;
    padding: 5px;
    color: #fff;
}
.redes
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inicio_sec form a
{
    margin: 10px;
}
.inicio_sec form i
{
    font-size: 30px;
    
}
.fa-facebook
{
    color: #4267B2;
}
.fa-instagram
{
    color: #E1306C;
}
.fa-whatsapp
{
    color: #25D366;
}
.form_button
{
    width: 200px;
    padding: 10px;
    margin: 10px 0;
    background-color: #c9a221;
    color: #fff;
    border: solid 1px transparent;
    cursor: pointer;
}
@media screen and (max-width:600px) 
{
    .inicio_sec img
    {
        width: 80%;
    }
}
/*nosotros*/
.nosotros
{
    width: 100%;
    justify-content: space-around;
    padding-top: 10vh;
    background-color: #000;
    display: flex;
    justify-content: center;
}
.nosotros_contenedor
{
    width: 80%;
    min-width: 320px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;
}
.nosotros_parrafo
{
    width: 60%;
    min-width: 300px;
    text-align: center;
    margin: 10px 0;
}
.cards
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card
{
    width: 300px;
    height: 300px;
    background-color: #0e0e0e;
    margin: 10px;
    padding: 20px;
    color: #fefefe;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}
.card i
{
    font-size: 100px;
}
.card h4
{
    margin: 10px 0;
}
.nosotros_contenedor a
{
    padding: 10px;
    background-color: #c9a221;
    color: #fff;
    margin: 20px 0;
}